input[type="text"] {
  font-size: 10%;
}
input {
  color: red;
}
p::selection {
  color: red;
  background-color: yellow;
}
P {
  font-size: 25px;
}

@media (min-width: 1000px) {
  body {
    background-color: yellow;
  }
}

@media (max-width: 999px) {
  body {
    background-color: turquoise;
  }
}
